<div class="hero-unit">
  <h2 class="name"><%= user.name %></h2>
  <%- linkTo('Edit this user', editUserPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', userPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>User Properties</h2>
<%- partial('layouts/attr_table', {model: user}) %>

<h2>Private Messages</h2>
<% user.messages.forEach(function (msg) { %>
<h4>
  <%- linkTo(msg.content, {
    controller: 'private_messages',
    action: 'show',
    id: msg.id
  }); %>
</h4>
<% }); %>
